# SPDX-License-Identifier: GPL-2.0-or-later
# SPDX-FileCopyrightText: 2026 Netresearch DTT GmbH
# Routing owner verified to have repository write access. This is not a claim
# that independent human security review or production acceptance has occurred.
* @CybotTM
