vendor/
.phpunit.cache/
.phpstan-cache/
**/.Build/
**/var/
**/typo3temp/
**/vendor/
__pycache__/
*.pyc

.phpunit-http-guard.cache/
Documentation-GENERATED/
Documentation-GENERATED-temp/
.env
.env.*
!.env.example
Documentation/_build/

.phpstan-http-guard-cache/
**/.phpunit.result.cache
